.ni{
    color: yellow;
}
.nav-link{
    color: yellow;
}
#ho{
    color: yellow;
}
.d-block{
    height: 600px;
}
h5 p{
    color: black;
}
.text-whit{
    color: yellow;
}
iframe{
    margin-left: 300px;
}
.navbar-toggler{
    color:yellow
}